<h1>Sessions#home</h1>
<p>Find me in app/views/sessions/home.html.erb</p>

<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
<% end %>

<% @categories = Category.all %>
<% @categories.each do |category| %>

	<%= link_to category.name, category_path(category)%>  </br>

<% end %>


<br/>

<%= link_to 'New Resource', new_resource_path %>
