<!DOCTYPE html>
<html>
<head>
	<title>CourseTools</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="masthead">
		<a href="/"><img src="http://www.generalassemb.ly/imgs/ga-lockup.png" alt="General Assembly Logo"></a>
		<a href="#navigation" class="skip">
			<img src="http://www.generalassemb.ly/imgs/menu.png" alt="menu">
		</a>
	</div>

	<%= yield %>

</body>
</html>
